.auth-form-container {
 background: rgb(7, 60, 120); /* For browsers that do not support gradients */
 background: -webkit-linear-gradient(rgb(134,123,132), rgb(7,60,120)); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(rgb(134,123,132), rgb(7,60,120)); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(rgb(134,123,132), rgb(7,60,120)); /* For Firefox 3.6 to 15 */
 background: linear-gradient(rgb(134,123,132), rgb(7,60,120)); /* Standard syntax */
 height: 100vh;

form{
  margin-left: 9%;
  padding-top: 10%;
  padding-left: 3%;
  }

  h2 {
   font-size: 86px;
   font-weight: 400;
   color: white;
  }

  label {
   font-size: 16px;
   font-weight: 200;
   color: white;
   margin-right: 1%;
  }

  .error-span {
    font-size: 13px;
    font-weight: 200;
    color: orange;
  }

  img {
    width: 80%;
    height: auto;
  }

  input{
    border: white solid 1px;
    border-radius: 3px;
    font-size: 16px;
    height: 35px;
    width: 275px;
    padding-left: 15px;
    color: white;
    &:focus {
      outline: none;
      box-shadow: 0 0 8px #9ecaed;
    }

  }

  input[type="password"]{
    margin-bottom: 1vh;
  }

  button{
    padding: 11px;
    background-color: white;
    border-radius: 4px;
    border: solid 1px white;
    color: rgb(32,72,122);
    font-size: 13px;
    -webkit-transition : border-color 200ms;
     -moz-transition : border-color 200ms;
     transition : border-color 100ms;
   }

   button:focus{
     background: white
   }

  .cancel-button, .signup-button, .guest-button{
    background-color: rgb(151, 167, 191);
  }

  .cancel-button:hover, .signup-button:hover, .guest-button:hover{
    border-color: #aaa;
  }

  .button-span {
    display: inline-block;
    width: 310px;
      button {
        margin-right: 9px;
      }
    }

  .signup-button-span {
    display: inline-block;
    width: 320px;
      button {
        padding: 11px 47px;
        margin-right: 20px;
      }
  }

}
