.discover {
  border-left: solid black 1px;
  margin-right: 2px;
  padding-left: .4%;
  width: 33.5%;
  height: 100vh;
  color:#053b78;
  overflow: scroll;
  position: relative;

  h2 {
    font-size: 27px;
    margin-top: 1vh;
    margin-left: 5px;
    font-weight: 100;
    padding-top: 8px;
  }
}

.user-nav {
  display: flex;
  margin: 0;
  text-align: center;
  padding-left: 2%;
  height: 7vh;

  .user-nav-buttons{
    display: flex;
    flex-direction: column;
    height: 8vh;
    padding-top: 1%;
  }

  .search-form {
    width: 70%;
    padding-top: 2.5vh;
    margin: 0;
    border-bottom: solid 1px #fa461e;
    display: flex;

    i{
      font-size: 22px;
      margin: 0;

      &.fa-circle-o-notch{
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
      }

      &.hidden {
        visibility: hidden
      }
    }

    input {
      font-size: 22px;
      width: 89%;
      margin: 0;
      &:focus {
        outline: none;
      }
    }
  }

  .user-button-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    i:hover{
      opacity: 0.5;
    }
  }

  i {
    font-size: 27px;
  }

  .logout-button {
    color: white;
    background-color: #053b78;
    padding: 2px;
    border-radius: 2px;
    font-size: 15px;
    margin-top: 2px;
    &:hover {
      opacity: 0.5;
    }
  }
}



.lists-container {
  display: flex;
  flex-direction: column;
  margin-left: .8%;
  height: 92vh;

  .song-list {
    margin: 0 5px 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;

    &#search-song{
      display: block;
      padding-top: 2%;
    }
    &#user-songs{
      padding-top: 1%;
      padding-right: 4.5%;
    }

    .song-row {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      &.search {
        justify-content: flex-start;
        height: initial;
        .song-item{
          margin-bottom: 2%;
        }
      }

      .song-item {
        width: 23vw;
        font-size: 15px;
        margin-top: 1px;

        .title{
          padding-top: 1%;
          width: calc(100% - 56px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;
        }

        .user {
          overflow: hidden;
          text-overflow: ellipsis;
          padding-bottom: 1px;
          margin-left: 5px;
          cursor: pointer;
          display: inline-block;
          font-size: 14px;
        }

        .fa {
          font-size:  21px;
          margin: 0;
        }

        .fa-heart {
          color: gray;
          &.liked {
            color: #fa461e;
          }
        }

        .fa-play-circle {
          color: #053b78;
          background: radial-gradient(white 5px,transparent 0px)
        }

        .song-name {
          border-radius: 7px;
          background-color: #edecef;
          display: flex;
          height: 19px;
          margin: -2px 0px 0px 0px;
          padding: 2px;
        }
      }
    }

    &.empty {
      color: #fa461e;
      align-self: flex-start;
    }

    &#search-song, &#user-songs {
      flex-wrap: wrap;
      flex-direction: row;
    }
  }
}
