.discover {
  border: solid black 1px;
  margin-right: 2px;
  width: 25vw;
  h1{
    font-size: 40px;
  }
}

.logout-button {
  color: white;
  background-color: #053b78;
  padding: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 2px 2px 3px 6px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 2px 2px 3px 6px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 1px 1px 0px 0px #ccc; /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.song-item {
  border: solid 1px black;
}
