.discover {
  border-left: solid black 1px;
  margin-right: 2px;
  width: 33.5%;
  color:#053b78;
  padding: .5%;

  h2 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-left: 5px;
    font-weight: 100;
    padding-top: 6px;
  }
}

.user-nav {
  display: block;
  margin-right: 1vw;
  text-align: center;
  margin-bottom: 2%;

  i {
    font-size: 33px;
    margin: 5px 5px 0 0;
  }

  .logout-button {
    color: white;
    background-color: #053b78;
    padding: 2px;
    border-radius: 2px;
    font-size: 15px;
  }
}


.song-item {
  margin-bottom: 10px;
  width: 12vw;
  font-size: 15px;

  a {
    padding-top: 3.5%;
    width: calc(100% - 56px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .user {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 1px;
    margin-left: 5px;
  }

  .fa {
    font-size:  26px;
    margin: 0;
  }

  .fa-heart {
    color: gray;
    &.liked {
      color: #fa461e;
    }
  }

  .fa-play-circle {
    color: #053b78;
    background: radial-gradient(white 10px,transparent 0px)
    }

  .song-name {
    border-radius: 7px;
    background-color: #edecef;
    display: flex;
    padding: 5px;
    height: 26px;
    margin: 1px 4px 4px 4px
  }
}

.song-list{
  margin: 0 5px 10px 5px;
  display: flex;
}
