.home {
  display: flex;
  justify-content: space-between;

  .welcome{
    position: fixed;
  }

  .portrait-warning{
    font-size: 23px;
    font-weight: 200;
    color: #fa461e;
    position: fixed;
    left: 13%;
    width: 100%;
    opacity: 0.5;

    @media screen and (min-width: 1049px), (orientation: landscape){
      display: none;
    }

  }

  .github-link{
    position: absolute;
    top: 96vh;
    right: 97.5vw;
    i{
      font-size: 20px;
    }
    & :hover{
      opacity: 0.5;
    }
  }

  .hamburger-button{
    position: fixed;
    right: 3%;
    top: 2%;
    font-size: 48px;
    transition: right .3s ease-out;
    cursor: default;
    &:hover{
      opacity: 0.5;
    }
  }

  @media screen and (min-width: 1045px){
    .hamburger-button{
      display: none;
    }
  }

  .hamburger-button.open{
    right: 35%;
  }

}
