.synth {
  height: 100vh;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-around;
  position: relative;
}

.keyboard {
  height: 35%;
  background-color: red;
  width: 65%;
  position: absolute;
  bottom: 25%;
  left: 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  section{
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}

span[class*="key"] {
  padding: 15px 20px 15px 20px;
  background-color: white;
  border-radius: 5px;
  border: solid 1px black;
  -webkit-transition : background-color 400ms;
  -moz-transition : background-color 400ms;
  transition : background-color 400ms;
  text-align: center;
  font-size: 14px;
}

.nil-key {
  color: lightgrey;
}

.Capslock {
  width: 7%;
  text-align: left;
  padding: 15px 8px 5px 5px;
}

.space-key {
  // padding-left: 80px;
  // padding-right: 80px;
  width: 200px;
  margin-left: 0;
  margin-right: 0;
}

.pressed {
  background-color: yellow;
}

.fn-row .nil-key {
  margin-left: 3px;
  margin-right: 3px;
}
