.keyboard-container {
  height: 100vh;
  width: 70vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.keyboard {
  height: 350px;
  width: 850px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  section{
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}


span[class*="key"] {
  border-radius: 5px;
  -webkit-transition : background-color 400ms;
  -moz-transition : background-color 400ms;
  transition : background-color 400ms;
  text-align: center;
  font-size: 17px;

  &.pressed {
    background-color: yellow;
  }
}

.note-key {
  padding-top: 20px;
  padding-bottom: 34px;
  height: 0;
  width: 56px;
  background-color: #053b78;
  color: white;
}

.nil-key {
  background-color: lightgray;
  color: transparent;
  padding-top: 22px;
  padding-bottom: 34px;
  height: 0;
  width: 56px;
  &#Shift {
    width: 100px;
  }
  &#Capslock {
    width: 85px;
  }
}

.space-key {
  color: white;
  padding-top: 20px;
   width: 250px;
  margin-left: 0;
  margin-right: 0;
  background-color: #053b78;
  &.recording, &#playing-back-recording{
    background-color: #fa461e;
  }
}

.backspace-key{
  width: 75px;
  padding-top: 20px;
  background-color: #053b78;
  color: white;
  &.disabled {
    color: transparent;
    opacity: 0.5;
    font-size: 14px;
  }
  &.confirmation {
    color: #fa461e;
  }
}

.shift-key{
  width: 120px;
  padding-top: 18px;
  background-color: #053b78;
  color: white;
  &.disabled{
    color: transparent;
    opacity: 0.5;
  }
}

#tab {
  width: 70px;
}

.enter-key{
  width: 98px;
  padding-top: 20px;
  background-color: #053b78;
  color: white;
  &.disabled {
    color: transparent;
    opacity: 0.5;
  }
  &.liked {
    background-color: #fa461e;
  }
}
.fn-row .nil-key {
  margin-left: 3px;
  margin-right: 3px;
}
