.synth {
  height: 100vh;
  position: relative;
}

.keyboard {
  background-color: red;
  height: 350px;
  width: 850px;
  position: absolute;
  bottom: 25%;
  left: 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  section{
    margin: 0;
    display: flex;
    justify-content: space-between;
  }
}


span[class*="key"] {
  background-color: white;
  border-radius: 5px;
  border: solid 1px black;
  -webkit-transition : background-color 400ms;
  -moz-transition : background-color 400ms;
  transition : background-color 400ms;
  text-align: center;
  font-size: 14px;

  &.pressed {
    background-color: yellow;
  }
}

.note-key {
  padding-top: 21px;
  padding-bottom: 34px;
  height: 0;
  width: 56px;
}

.nil-key {
  color: lightgrey;
  padding-top: 22px;
  padding-bottom: 34px;
  height: 0;
  width: 56px;
  &#Shift {
    width: 100px;
  }
  &#Capslock {
    width: 85px;
  }
}

.space-key {
  padding-top: 20px;
   width: 250px;
  margin-left: 0;
  margin-right: 0;
}

.backspace-key{
  width: 75px;
  padding-top: 20px;
  &#backspace {
    color: lightgrey;
  }
}

.shift-key{
  width: 100px;
  padding-top: 20px;
}

.disabled{
  color: lightgrey
}

.enter-key{
  width: 85px;
  padding-top: 20px;
  &#enter {
    color: lightgrey;
  }
}
.fn-row .nil-key {
  margin-left: 3px;
  margin-right: 3px;
}
