.song-title-container {
  background-color: white;
  font-size: 16px;
  height: 35px;
  width: 330px;
  margin-bottom: 47px;
  margin-left: 3px;

  input {
    padding-left: 15px;
    font-size: 22px;
    height: 56px;
    border-radius: 3px;
    color: #053b78;
    border: solid 1px #053b78;
    width: 100%;
    margin-top: 3px;
  }

  .song-owner {
    color: #053b78;
    display: block;
    height: 18px;
  }
}
