.song-title-container input {
  background-color: white;
  border: solid 1px #053b78;
  color: #053b78;
  border-radius: 3px;
  font-size: 16px;
  height: 35px;
  width: 275px;
  padding-left: 15px;

  position: absolute;
  bottom: 65%;

  margin-top: 76px;
  margin-left: 152px;
  height: 56px;
  width: 581px;
  font-size: 22px;
}
